.main-page-container {
    /* background-color: black;
    color: azure; */
    display: block;
    margin: 0 auto;
    max-width: 70%;
    max-height: 100vh;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px #ccc; */
}

.main-pagh-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}